<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/main.css")
        script(defer=true src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(defer=true src="../node_modules/jquery-form-validator/form-validator/jquery.form-validator.min.js")
        title Document
    body
        .form-container
            h1.form-container__headliner Thank you for choosing to subscribe to PDFfiller services!
            form.form
                .form__headliners-block
                    p.form__headliners-block__name Cardholder Name
                    p.form__headliners-block__card-number Card Number
                    p.form__headliners-block__date Exp. Date
                    p.form__headliners-block__post-code Zip/Postal Code
                .form__block-1
                    .form__block-1__name
                        input.block-1__name__input.input(type="text", placeholder="First Name")
                        input.block-1__name__input.input(type="text", placeholder="Last Name")
                    .form__block-1__card-number
                        input.form__block-1__card-number__input.input(type="text", placeholder="•••• •••• •••• ••••")
                        .form__block-1__card-number__cards
                    .form__block-1__date
                        input.form__block-1__date__input.input_month(type="text" placeholder="MM")
                        span /
                        input.form__block-1__date__input.input_year(type="text" placeholder="YYYY")
                        p.form__block-1__date__text CVV/CVC
                        input.form__block-1__date__input.input_cvv(type="text" placeholder="XXXX")
                    .form__block-1__post-code
                        input.form__block-1__post-code__input.input(type="text" placeholder="01001")
                    .form__block-1__button-container
                        button.form__block-1__button-container__button(type="submit") Start My Sudscription for $19.99/mo.
                .form__block-2
                    h2.form__block-2__headliner Or pay with Paypal
                    .form__block-2__paypal